<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>StatusRecognise</servlet-name>
    <servlet-class>com.sanqing.servlet.StatusRecognise</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>com.sanqing.servlet.AddEmployee</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MsgPublish</servlet-name>
    <servlet-class>com.sanqing.servlet.MsgPublish</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMessageList</servlet-name>
    <servlet-class>com.sanqing.servlet.GetMessageList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetEmployee</servlet-name>
    <servlet-class>com.sanqing.servlet.GetEmployee</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMessage</servlet-name>
    <servlet-class>com.sanqing.servlet.GetMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommitReply</servlet-name>
    <servlet-class>com.sanqing.servlet.CommitReply</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommitCriticism</servlet-name>
    <servlet-class>com.sanqing.servlet.CommitCriticism</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.sanqing.servlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteEmployee</servlet-name>
    <servlet-class>com.sanqing.servlet.DeleteEmployee</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateEmployee</servlet-name>
    <servlet-class>com.sanqing.servlet.UpdateEmployee</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>PreUpdateEmployee</servlet-name>
    <servlet-class>com.sanqing.servlet.PreUpdateEmployee</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>GetEmployeeById</servlet-name>
    <servlet-class>com.sanqing.servlet.GetEmployeeById</servlet-class>
  </servlet>

<servlet-mapping>
    <servlet-name>GetEmployeeById</servlet-name>
    <url-pattern>/GetEmployeeByIdAction</url-pattern>
</servlet-mapping> 
<servlet-mapping>
    <servlet-name>PreUpdateEmployee</servlet-name>
    <url-pattern>/PreUpdateEmployee</url-pattern>
</servlet-mapping> 
<servlet-mapping>
    <servlet-name>UpdateEmployee</servlet-name>
    <url-pattern>/UpdateEmployeeAction</url-pattern>
</servlet-mapping> 
<servlet-mapping>
    <servlet-name>DeleteEmployee</servlet-name>
    <url-pattern>/DeleteEmployee</url-pattern>
</servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatusRecognise</servlet-name>
    <url-pattern>/StatusRecogniseAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/AddEmployeeAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MsgPublish</servlet-name>
    <url-pattern>/MsgPublish</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMessageList</servlet-name>
    <url-pattern>/GetMessageList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMessage</servlet-name>
    <url-pattern>/GetMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommitReply</servlet-name>
    <url-pattern>/CommitReply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommitCriticism</servlet-name>
    <url-pattern>/CommitCriticism</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetEmployee</servlet-name>
    <url-pattern>/GetEmployee</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>